---
layout: default
---

<!-- Navigation -->
<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/#about">About</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/#news">News</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/#publications">Publications</a></li>
      <li class="navbar-item"><a class="navbar-link active" href="{{ site.baseurl }}/cv.html">Vitæ</a></li>
    </ul>
  </div>
</nav>

<!-- ========== VITÆ ========== -->
<div class="docs-section" id="vitae">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
